<div class="container-fluid">
  <h2 class="text-success text-center">{{latestData["name"]}}</h2>
  <div class="row mt-5">
    <h2>Total Stats</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <div class="bg-primary div-border">
        <h4>Confirmed</h4>
        <h4>{{latestData["confirmed"]}}</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <div class="bg-success div-border">
        <h4>Recovered</h4>
        <h4>{{latestData["recovered"]}}</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <div class="bg-warning div-border">
        <h4>Active</h4>
        <h4>{{latestData["active"]}}</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 text-center">
      <div class="bg-danger div-border">
        <h4>Deaths</h4>
        <h4>{{latestData["deaths"]}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataConfirmedCases"
          [labels]="lineChartLabelsConfirmedCases" [options]="lineChartOptionsConfirmedCases"
          [colors]="lineChartColorsConfirmedCases" [legend]="lineChartLegendConfirmedCases"
          [chartType]="lineChartTypeConfirmedCases" [plugins]="lineChartPluginsConfirmedCases">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataRecoveredCases"
          [labels]="lineChartLabelsRecoveredCases" [options]="lineChartOptionsRecoveredCases"
          [colors]="lineChartColorsRecoveredCases" [legend]="lineChartLegendRecoveredCases"
          [chartType]="lineChartTypeRecoveredCases" [plugins]="lineChartPluginsRecoveredCases">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataActiveCases"
          [labels]="lineChartLabelsActiveCases" [options]="lineChartOptionsActiveCases"
          [colors]="lineChartColorsActiveCases" [legend]="lineChartLegendActiveCases"
          [chartType]="lineChartTypeActiveCases" [plugins]="lineChartPluginsActiveCases">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataDeathCases"
          [labels]="lineChartLabelsDeathCases" [options]="lineChartOptionsDeathCases"
          [colors]="lineChartColorsDeathCases" [legend]="lineChartLegendDeathCases"
          [chartType]="lineChartTypeDeathCases" [plugins]="lineChartPluginsDeathCases">
        </canvas>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h2>Today's Stats</h2>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="bg-primary div-border">
        <h4>Confirmed</h4>
        <h4>{{todayData["confirmed"]}}</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="bg-success div-border">
        <h4>Recovered</h4>
        <h4>{{todayData["recovered"]}}</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4 text-center">
      <div class="bg-danger div-border">
        <h4>Deaths</h4>
        <h4>{{todayData["deaths"]}}</h4>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2>Daily Stats</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataNewConfirmedCases"
          [labels]="lineChartLabelsNewConfirmedCases" [options]="lineChartOptionsNewConfirmedCases"
          [colors]="lineChartColorsNewConfirmedCases" [legend]="lineChartLegendNewConfirmedCases"
          [chartType]="lineChartTypeNewConfirmedCases" [plugins]="lineChartPluginsNewConfirmedCases">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataNewRecoveredCases"
          [labels]="lineChartLabelsNewRecoveredCases" [options]="lineChartOptionsNewRecoveredCases"
          [colors]="lineChartColorsNewRecoveredCases" [legend]="lineChartLegendNewRecoveredCases"
          [chartType]="lineChartTypeNewRecoveredCases" [plugins]="lineChartPluginsNewRecoveredCases">
        </canvas>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
      <div style="display: block;">
        <canvas baseChart width="200" height="200" [datasets]="lineChartDataNewDeathCases"
          [labels]="lineChartLabelsNewDeathCases" [options]="lineChartOptionsNewDeathCases"
          [colors]="lineChartColorsNewDeathCases" [legend]="lineChartLegendNewDeathCases"
          [chartType]="lineChartTypeNewDeathCases" [plugins]="lineChartPluginsNewDeathCases">
        </canvas>
      </div>
    </div>
  </div>

</div>
